<% provide(:title, 'Home') %>
<div class="jumbotron">
  <h1>The WriteUp Manual</h1>
  <p>
  	<h3>
  		Looking for something?
  	</h3>
  	
  		<%= link_to "Click here", contents_path %> to get started.
  </p>
  	<div class="actions">
  		<%=link_to "Get started", contents_path, class: "btn btn-primary btn-lg"  %>
  	</div>
	</p>
</div>

