<% provide(:title, 'Home') %>
<div class="jumbotron">
  <h1>The WriteUp Manual</h1>
  <p>
    Providing instant and up to date access to the National and Oregon underwriting manuals.
  </p>
  <% if signed_in? %>

  <% else %>
  <p> New user? <%= link_to "Click here", signup_path %> to sign up.
  </p>

  		
  	<div class="actions">
  		<%=link_to "Sign in", contents_path, class: "btn btn-primary btn-lg"  %>
  	</div>

  <% end %>
	
</div>

