<% provide(:title, 'Add Exceptions') %>  
  <div class="container clearfix">  	
  	<div class="left">
  		<h1 style="text-align:center">Add Exceptions</h1>
  		<%= render 'form' %>
  	</div>
  	<div class="right">
 			<%= render 'import' %>
 		</div>
  	<div class="clear"></div>
	</div>

 
 


