@import "bootstrap";


/* icons */






/* universal */
.links
{
padding-top:10px;	
margin-left:auto;
margin-right:auto;
width:70%;
text-align:center;
}

.panel-footer
{
	text-align:right;
	background-color:#E0E5EC;
}


a #content-panel
{
	color: black;
	text-decoration: none;
}

.user-field
{
padding-top:10px;
margin-left:auto;
margin-right:auto;
width:60%;
	
}
div a:hover
{
	color:black;
}

.form-group
{
	width: 200px;
}


a:hover
{
	text-decoration:none;
}

html
{
	overflow-y: scroll	
}
body
{
	padding-top: 60px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}
section 
{
	overflow: auto;
}
textarea
{
	width: 500px;
	height: 80px;
}

.center
{
	text-align: center;
}

.center h1
{
	margin-bottom: 10px;
}

.import
{
	left:50%;
}

/*-------HEADER---------*/
#logo
{
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	padding-top:9px;
	line-height: 1;
	color: gray;
	&:hover
	{
		color: white;
		text-decoration:none;
	}	
}

.dd-header
{
	text-align:center; 
	background-color:#4188D2; 
	color:white; 
	padding-top:2px; 
	padding-bottom:2px;
	font-size:16px;
}
/*-------COMMENTS --------*/

.timestamp
{
	font-size:12px;
	color: gray;
	font-style:italic;
}

/*--------------------TABLE----------------*/

th
{
	text-align:center;
	color:white;
}


/*---------New Exceptions-------*/

.left, .bar, .right
{
	float: left;
	width: 48%;
	bottom:0;
	padding: 0%;
	margin-bottom: 2%;
}

.right
{ 
	float: right;
	margin-right: 0;	
}

.field
{
	text-indent: 10px;
}

.bar
{
height: 600px;
margin-left:3%;
margin-right: 3%;
width: 2px;
}