$iconSpritePath: asset-url('glyphicons-halflings.png', image);
$iconWhiteSpritePath: asset-url("glyphicons-halflings-white.png", image);
@import "bootstrap";


/* universal */
.links
{
padding-top:10px;	
margin-left:auto;
margin-right:auto;
width:70%;


text-align:center;
	
}
a:hover
{
	text-decoration:none;
}
html
{
	overflow-y: scroll	
}
body
{
	padding-top: 60px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}

section 
{
	overflow: auto;
}
textarea
{
	width: 500px;
	height: 80px;
}

.center
{
	text-align: center;
}

.center h1
{
	margin-bottom: 10px;
}

.import
{

	left:50%;
}

/*-------HEADER---------*/
#logo
{
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	padding-top:9px;
	line-height: 1;
	color: white;
	&:hover
	{
		color: white;
		text-decoration:none;
	}	
}
/*-------COMMENTS --------*/

.timestamp
{
	font-size:12px;
	color: gray;
}

/*--------------------TABLE----------------*/

th
{
	text-align:center;
	color:white;
}
